<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div id="head_bar">
  <div id="station_info">
    <ul id="statinfoul">
      <li  class="li_horizental" id="NSTno">AA12</li>
      <li  class="li_horizental">
        <ul id="member">
          <li class="memberName" id="WD_name">病房主任</li>
          <li class="memberName" id="HN_name">護理長</li>
        </ul>
      </li>
    </ul>
    

  </div>
</div>
<div id="main_container">
222
</div>
<div id="botton_nav">54</div>
</body>
</html>
