<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <marquee direction="right" scrollamount="5" behavior="alternate">跑馬燈測試</marquee>
<div id="head_bar">
  <ul class="ul_horizental">
    <li class="li_horizental">
      <div id="station_info">
    <ul calss="ul_horizental">
      <li  class="li_horizental" id="NSTno">AA12</li>
      <li  class="li_horizental">
        <ul id="member">
          <li class="memberName" id="WD_name">病房主任：XXX</li>
          <li class="memberName" id="HN_name">護理長：OOO</li>
        </ul>
      </li>
      
    </ul>
  </div>
    </li>
    <li class="li_horizental">
      <div id="weather_date">222</div>
   </li>
  </ul>
  
 
</div>
<div id="main_container">
222
</div>
<div id="botton_nav">54</div>
</body>
</html>
