<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/kendo/css/kendo.common-material.min.css">
  <link rel="stylesheet" href="/kendo/css/kendo.material.min.css">
  <script src="/jquery/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <script src="/kendo/js/kendo.all.min.js"></script>

</head>

<body onload="startTime();mapBed();mapbb()">

  <div id="head_bar">
    <ul class="ul_horizental">
      <li class="li_horizental">
        <div id="station_info">
          <ul calss="ul_horizental">
            <li class="li_horizental" id="NSTno" value=12>12</li>

            <li id="tel" class="li_horizental">
              <ul style="list-style: none;">
                <li>病房分機</li>
                <li style="list-style: none;">
                <li class="li_horizental" id="tel1">2380</li>
                <li class="li_horizental">/</li>
                <li class="li_horizental" id="tel2">2583</li>
            </li>
          </ul>
      </li>
      <li class="li_horizental">
        <ul id="member">
          <li class="memberName" id="WD_name">病房主任：XXX</li>
          <li class="memberName" id="HN_name">護理長：OOO</li>
        </ul>
      </li>

    </ul>
  </div>
  </li>
  <li class="li_horizental">
    <div id="weather_date">
      <a class="weatherwidget-io" href="https://forecast7.com/zh-tw/25d02121d46/new-taipei-city/"
        data-font="微軟正黑體 (Microsoft JhengHei)" data-mode="Current" data-theme="pure">New Taipei City, Taiwan</a>
    </div>
  </li>

  </ul>
  <ul id="time" style="z-index: 9999;">
    <li class="li_horizental">
      <div id="clock">00:00</div>
    </li>
    <li style="list-style: none;">
      <div id="date">2020/05/27</div>
    </li>
    <li style="list-style: none;">
      <div id="week">星期三</div>
    </li>
  </ul>
  </div>
  <div id="marquee">
    <marquee direction="right" scrollamount="5" behavior="alternate" id="marq">跑馬燈測試</marquee>
  </div>
  <div id="main_container">
    <div class="main_viewer" id="p_list">
      <table
        style="width:100%;border: 2px;border-color: black; border-style: solid; background-color: rgb(167, 167, 167);">
        <tr style="height: 10%;">
          <td class="bednumber" id="0">
            <div class="beddiv">
              <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-0">
                <div class="bid" id="id-0"></div>
                <div class="focus" id="focus-0"></div>
              </div>
              <div class="bedCont">
                <div class="sex"><img id="img-0" style="width:100%;height:100%;">
                </div>
                <div class="bed_info">
                  <div class="bed_status" id = "bedStatus-0"></div>
                  <div class="call_info" id = "callInfo-0"></div>
                </div>
                <div style="clear: both;"></div>
              </div>
            </div>
          </td>
          <td class="bednumber" id="1">
            <div class="beddiv">
              <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-1">
                <div class="bid" id="id-1"></div>
                <div class="focus" id="focus-1"></div>
              </div>
              <div class="bedCont">
                <div class="sex"><img id="img-1"></div>
                <div class="bed_info">
                  <div class="bed_status" id = "bedStatus-1"></div>
                  <div class="call_info" id = "callInfo-1"></div>
                </div>
                <div style="clear: both;"></div>
              </div>
            </div>
          </td>
          <td class="bednumber" id="2">
            <div class="beddiv">
              <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-2">
                <div class="bid" id="id-2"></div>
                <div class="focus" id="focus-2"></div>
              </div>
              <div class="bedCont">
                <div class="sex"><img id="img-2"></div>
                <div class="bed_info">
                  <div class="bed_status" id = "bedStatus-2" id = "bedStatus-"></div>
                  <div class="call_info" id = "callInfo-2"></div>
                </div>
                <div style="clear: both;"></div>
              </div>
            </div>
          </td>
          <td class="bednumber" id="3">
            <div class="beddiv">
              <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-3">
                <div class="bid" id="id-3"></div>
                <div class="focus" id="focus-3"></div>
              </div>
              <div class="bedCont">
                <div class="sex"><img id="img-3"></div>
                <div class="bed_info">
                  <div class="bed_status" id = "bedStatus-3"></div>
                  <div class="call_info" id = "callInfo-3"></div>
                </div>
                <div style="clear: both;"></div>
              </div>
          </td>
          <td class="bednumber" id="4">
            <div class="beddiv">
              <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-4">
                <div class="bid" id="id-4"></div>
                <div class="focus" id="focus-4"></div>
              </div>
              <div class="bedCont">
                <div class="sex"><img id="img-4"></div>
                <div class="bed_info">
                  <div class="bed_status" id = "bedStatus-4"></div>
                  <div class="call_info" id = "callInfo-4"></div>
                </div>
                <div style="clear: both;"></div>
              </div>
            </div>
          </td>
    </div>
    <td class="bednumber" id="5">
      <div class="beddiv">
        <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-5">
          <div class="bid" id="id-5"></div>
          <div class="focus" id="focus-5"></div>
        </div>
        <div class="bedCont">
          <div class="sex"><img id="img-5"></div>
          <div class="bed_info">
            <div class="bed_status" id = "bedStatus-5"></div>
            <div class="call_info" id = "callInfo-5"></div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </td>
    <td class="bednumber" id="6">
      <div class="beddiv">
        <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-6">
          <div class="bid" id="id-6"></div>
          <div class="focus" id="focus-6"></div>
        </div>
        <div class="bedCont">
          <div class="sex"><img id="img-6" style="width:100%;height:100%;"></div>
          <div class="bed_info">
            <div class="bed_status" id = "bedStatus-6"></div>
            <div class="call_info" id = "callInfo-6"></div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </td>
    </tr>
    <tr style="height: 10%;">
      <td class="bednumber" id="7">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-7">
            <div class="bid" id="id-7"></div>
            <div class="focus" id="focus-7"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-7"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-7"></div>
              <div class="call_info" id = "callInfo-7"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="8">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-8">
            <div class="bid" id="id-8"></div>
            <div class="focus" id="focus-8"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-8"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-8"></div>
              <div class="call_info" id = "callInfo-8"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="9">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-9">
            <div class="bid" id="id-9"></div>
            <div class="focus" id="focus-9"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-9"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-9"></div>
              <div class="call_info" id = "callInfo-9"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="10">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-10">
            <div class="bid" id="id-10"></div>
            <div class="focus" id="focus-10"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-10"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-10"></div>
              <div class="call_info" id = "callInfo-10"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="11">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-11">
            <div class="bid" id="id-11"></div>
            <div class="focus" id="focus-11"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-11"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-11"></div>
              <div class="call_info" id = "callInfo-11"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="12">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-12">
            <div class="bid" id="id-12"></div>
            <div class="focus" id="focus-12"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-12"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-12"></div>
              <div class="call_info" id = "callInfo-12"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="13">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-13">
            <div class="bid" id="id-13"></div>
            <div class="focus" id="focus-13"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-13"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-13"></div>
              <div class="call_info" id = "callInfo-13"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr style="height: 10%;">
      <td class="bednumber" id="14">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-14">
            <div class="bid" id="id-14"></div>
            <div class="focus" id="focus-14"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-14"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-14"></div>
              <div class="call_info" id = "callInfo-14"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="15">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-15">
            <div class="bid" id="id-15"></div>
            <div class="focus" id="focus-15"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-15"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-15"></div>
              <div class="call_info" id = "callInfo-15"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="16">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-16">
            <div class="bid" id="id-16"></div>
            <div class="focus" id="focus-16"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-16"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-16"></div>
              <div class="call_info" id = "callInfo-16"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="17">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-17">
            <div class="bid" id="id-17"></div>
            <div class="focus" id="focus-17"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-17"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-17"></div>
              <div class="call_info" id = "callInfo-17"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="18">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-18">
            <div class="bid" id="id-18"></div>
            <div class="focus" id="focus-18"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-18"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-18"></div>
              <div class="call_info" id = "callInfo-18"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="19">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-19">
            <div class="bid" id="id-19"></div>
            <div class="focus" id="focus-19"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-19"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-19"></div>
              <div class="call_info" id = "callInfo-19"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="20">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-20">
            <div class="bid" id="id-20"></div>
            <div class="focus" id="focus-20"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-20"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-20"></div>
              <div class="call_info" id = "callInfo-20"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr style="height: 10%;">
      <td class="bednumber" id="21">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-21">
            <div class="bid" id="id-21"></div>
            <div class="focus" id="focus-21"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-21"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-21"></div>
              <div class="call_info" id = "callInfo-21"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="22">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-22">
            <div class="bid" id="id-22"></div>
            <div class="focus" id="focus-22"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-22"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-22"></div>
              <div class="call_info" id = "callInfo-22"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="23">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-23">
            <div class="bid" id="id-23"></div>
            <div class="focus" id="focus-23"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-23"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-23"></div>
              <div class="call_info" id = "callInfo-23"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="24">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-24">
            <div class="bid" id="id-24"></div>
            <div class="focus" id="focus-24"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-24"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-24"></div>
              <div class="call_info" id = "callInfo-24"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="25">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-25">
            <div class="bid" id="id-25"></div>
            <div class="focus" id="focus-25"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-25"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-25"></div>
              <div class="call_info" id = "callInfo-25"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="26">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-26">
            <div class="bid" id="id-26"></div>
            <div class="focus" id="focus-26"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-26"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-26"></div>
              <div class="call_info" id = "callInfo-26"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="27">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-27">
            <div class="bid" id="id-27"></div>
            <div class="focus" id="focus-27"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-27"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-27"></div>
              <div class="call_info" id = "callInfo-27"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr style="height:  10%;">
      <td class="bednumber" id="28">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-28">
            <div class="bid" id="id-28"></div>
            <div class="focus" id="focus-28"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-28"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-28"></div>
              <div class="call_info" id = "callInfo-28"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="29">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-29">
            <div class="bid" id="id-29"></div>
            <div class="focus" id="focus-29"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-29"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-29"></div>
              <div class="call_info" id = "callInfo-29"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="30">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-30">
            <div class="bid" id="id-30"></div>
            <div class="focus" id="focus-30"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-30"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-30"></div>
              <div class="call_info" id = "callInfo-30"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="31">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-31">
            <div class="bid" id="id-31"></div>
            <div class="focus" id="focus-31"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-31"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-31"></div>
              <div class="call_info" id = "callInfo-31"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="32">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-32">
            <div class="bid" id="id-32"></div>
            <div class="focus" id="focus-32"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-32"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-32"></div>
              <div class="call_info" id = "callInfo-32"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="33">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-33">
            <div class="bid" id="id-33"></div>
            <div class="focus" id="focus-33"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-33"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-33"></div>
              <div class="call_info" id = "callInfo-33"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="34">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-34">
            <div class="bid" id="id-34"></div>
            <div class="focus" id="focus-34"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-34"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-34"></div>
              <div class="call_info" id = "callInfo-34"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr style="height:  10%;">
      <td class="bednumber" id="35">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-35">
            <div class="bid" id="id-35"></div>
            <div class="focus" id="focus-35"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-35"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-35"></div>
              <div class="call_info" id = "callInfo-35"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="36">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-36">
            <div class="bid" id="id-36"></div>
            <div class="focus" id="focus-36"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-36"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-36"></div>
              <div class="call_info" id = "callInfo-36"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="37">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-37">
            <div class="bid" id="id-37"></div>
            <div class="focus" id="focus-37"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-37"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-37"></div>
              <div class="call_info" id = "callInfo-37"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="38">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-38">
            <div class="bid" id="id-38"></div>
            <div class="focus" id="focus-38"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-38"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-38"></div>
              <div class="call_info" id = "callInfo-38"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="39">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-39">
            <div class="bid" id="id-39"></div>
            <div class="focus" id="focus-39"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-39"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-39"></div>
              <div class="call_info" id = "callInfo-39"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="40">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-40">
            <div class="bid" id="id-40"></div>
            <div class="focus" id="focus-40"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-40"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-40"></div>
              <div class="call_info" id = "callInfo-40"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="41">
        <div class="beddiv"></div>
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-41">
            <div class="bid" id="id-41"></div>
            <div class="focus" id="focus-41"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-41"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-41"></div>
              <div class="call_info" id = "callInfo-41"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
    </tr>
    <tr style="height:  10%;">
      <td class="bednumber" id="42">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-42">
            <div class="bid" id="id-42"></div>
            <div class="focus" id="focus-42"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-42"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-42"></div>
              <div class="call_info" id = "callInfo-42"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="43">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-43">
            <div class="bid" id="id-43"></div>
            <div class="focus" id="focus-43"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-43"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-43"></div>
              <div class="call_info" id = "callInfo-43"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="44">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-44">
            <div class="bid" id="id-44"></div>
            <div class="focus" id="focus-44"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-44"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-44"></div>
              <div class="call_info" id = "callInfo-44"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="45">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-45">
            <div class="bid" id="id-45"></div>
            <div class="focus" id="focus-45"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-45"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-45"></div>
              <div class="call_info" id = "callInfo-45"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="46">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-46">
            <div class="bid" id="id-46"></div>
            <div class="focus" id="focus-46"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-46"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-46"></div>
              <div class="call_info" id = "callInfo-46"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="47">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-47">
            <div class="bid" id="id-47"></div>
            <div class="focus" id="focus-47"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-47"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-47"></div>
              <div class="call_info" id = "callInfo-47"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
      <td class="bednumber" id="48">
        <div class="beddiv">
          <div class="bedtitle" style="background-color: rgb(197, 197, 197);" id="bedtitle-48">
            <div class="bid" id="id-48"></div>
            <div class="focus" id="focus-48"></div>
          </div>
          <div class="bedCont">
            <div class="sex"><img id="img-48"></div>
            <div class="bed_info">
              <div class="bed_status" id = "bedStatus-48"></div>
              <div class="call_info" id = "callInfo-48"></div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
      </td>
    </tr>


    </table>
  </div>
  <div class="main_viewer" id="duty_view" style="background-color: blue;display: none;"></div>
  <div class="main_viewer" id="lab_view" style="background-color: #e6e6e6;display: none;">
    <div id="lab_grid"></div>
    <div id="lab_selecter" style="float: right;">
      <input id="selectByEmp" class="dropup" style="float: left; width: 200px; margin: 5px;" />
      <input id="selectByLType" class="dropup" style="float: left; width: 200px; margin: 5px;" />
    </div>
  </div>
  <div class="main_viewer" id="edu_view" style="background-color: rgb(252, 249, 249);display: none;">
    <div style="background-color: rgb(247, 253, 253);height: 95%;">
      <object data="http://new.eck.org.tw/wp-content/uploads/2020/02/BN000E001.pdf" type="application/pdf" style="width: 100%; height: 100%;" id="edu_viewer"></object>
    </div>
 
    <!--<div id="edu_grid">-->
      <div id="edu_selecter" style="float: right;">
        <input id="selectbyFName" class="dropup" style="float: right;width: 1805px; margin: 5px; top: 8px;" />
      </div>
    </div>
    <div class="main_viewer" id="exit_view" style="background-color:cadetblue;display: none;">
    <iframe src="stylesheets/images/12f.pdf" style="width: 100%; height: 100%;"></iframe>
  </div>
  </div>
  

  <div id="main_list">
    <div class="side_btn" id="backto_plist"><img class="side_btn_img" src="stylesheets/images/patient.png" width="35px"
        height="35px"></div>
    <div class="side_btn" id="duty"><img class="side_btn_img" src="stylesheets/images/calendar.png" width="35px"
        height="35px"></div>
    <div class="side_btn" id="lab"><img class="side_btn_img" src="stylesheets/images/research.png" width="35px"
        height="35px"></div>
    <div class="side_btn" id="edu"><img class="side_btn_img" src="stylesheets/images/teaching.png" width="35px"
        height="35px"></div>
    <div class="side_btn" id="exit"><img class="side_btn_img" src="stylesheets/images/escape.png" width="35px"
        height="35px"></div>
  </div>
  </div>
  <div id="botton_nav">
    <div class="botton_btn" id="dnr_btn" onclick="bottonBtnClick(3)">
      <div class="btn_count" id="dnr_count"></div>
      <div class="botton_btn_text">DNR</div>
      <div style="clear: both;"></div>
    </div>
    <div class="botton_btn" id="vs_btn" onclick="bottonBtnClick(4)">
      <div class="btn_count" id="vs_count"></div>
      <div class="botton_btn_text">生訊</div>
      <div style="clear: both;"></div>
    </div>
    <div class="botton_btn" id="lab_btn" onclick="bottonBtnClick(5)">
      <div class="btn_count" id="lab_count"></div>
      <div class="botton_btn_text">檢查</div>
      <div style="clear: both;"></div>
    </div>
    <div class="botton_btn" id="sur_btn" onclick="bottonBtnClick(6)">
      <div class="btn_count" id="sur_count"></div>
      <div class="botton_btn_text">手術</div>
      <div style="clear: both;"></div>
    </div>
    <div class="botton_btn" id="hd_btn" onclick="bottonBtnClick(7)">
      <div class="btn_count" id="hd_count"></div>
      <div class="botton_btn_text">洗腎</div>
      <div style="clear: both;"></div>
    </div>
    <div class="botton_btn" id="quar_btn" onclick="bottonBtnClick(8)">
      <div class="btn_count" id="quar_count"></div>
      <div class="botton_btn_text">隔離</div>
      <div style="clear: both;"></div>
    </div>
    <div class="botton_btn" id="cc_btn" style="width: 115px;" onclick="bottonBtnClick(9)">
      <div class="btn_count" id="cc_count"></div>
      <div class="botton_btn_text">心導管</div>
      <div style="clear: both;"></div>
    </div>
    <div class="botton_btn" id="air_btn" style="width: 115px;" onclick="bottonBtnClick(10)">
      <div class="btn_count" id="air_count"></div>
      <div class="botton_btn_text">呼吸器</div>
      <div style="clear: both;"></div>
    </div>
    <div class="botton_btn" id="vl_btn" style="width: 125px; display: none;" onclick="bottonBtnClick(11)">
      <div class="btn_count" id="vl_count"></div>
      <div class="botton_btn_text">訪客限制</div>
      <div style="clear: both;"></div>
    </div>
    <div class="botton_btn" id="mi_btn" style="width: 125px; display: none;" onclick="bottonBtnClick(12)">
      <div class="btn_count" id="mi_count"></div>
      <div class="botton_btn_text">母嬰同室</div>
      <div style="clear: both;"></div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function () {
    //serve eeList
    $("#selectByEmp").kendoDropDownList({
      optionLabel: "選擇護理師",
      dataTextField: "EEName",
      dataValueField: "EENo",
      dataSource: {
        transport: {
          read: {
            dataType: "jsonp",
            url: "/getEElist",
            method: "post",
            data: { "nstNo": $("#NSTno").val() }
          }
        }
      }
    });
    //serve lablist
    $("#selectByLType").kendoDropDownList({
      optionLabel: "選擇檢查類別",
      dataTextField: "CKCon",
      dataValueField: "CKSort",
      dataSource: {
        transport: {
          read: {
            dataType: "jsonp",
            url: "/getCKlist",
            method: "post",
          }
        }
      }
    })
    //serve edulist
    $("#selectbyFName").kendoDropDownList({
      optionLabel: "選擇衛教文件名稱",
      dataTextField: "FName",
      dataValueField: "fileURL",
      dataSource: {
        transport: {
          read: {
            dataType: "jsonp",
            url: "/edu",
            method: "post",
          }
        }
      }
    })

  

    //testing
    //主畫面資料呈現
   
    
  });
  var data;
  var clickCount = 0;
  var i = 0;
  var rep = 0;
  var msgn = 0;
  function mapbb(){
    $.ajax({
      type: "POST",
      url: "/getbb",
      data: { "nstNo": $("#NSTno").val() },
      dataType: "json",
    }).done(function (e) {
        var content = e[i].BBCon;
        if(msgn == e[i].msgno){
          i = 0;
          document.getElementById('marq').innerHTML = content;
          msgn = e[i].msgno;  
        }else
        {document.getElementById('marq').innerHTML = content;
        msgn = e[i].msgno;}
        
      i++
      
      
    })
    var timeoutbb = setTimeout(mapbb, 3000);
  }
   function mapBed(){
    // $(".beddiv").fadeIn(3000);
      $.ajax({
      type: "POST",
      url: "/getBedlist",
      data: { "nstNo": $("#NSTno").val() },
      dataType: "json",
    }).done(function (e) {
      
      data = new Array();  
      for (var i = 0; i < 49; i++){
        data[i] = new Array();
        for(var j = 0;j<16;j++){
          data[i][j] = "";
        }
      }
      for (var i = 0; i < 49; i++) {
        data[i][0] = e[i].BNo;
        data[i][1] = e[i].taboo_11;
        data[i][2] = e[i].Sex;
        data[i][3] = e[i].bidx_01;
        data[i][4] = e[i].bidx_02;
        data[i][5] = e[i].bidx_03;
        data[i][6] = e[i].bidx_04;
        data[i][7] = e[i].bidx_05;
        data[i][8] = e[i].bidx_06;
        data[i][9] = e[i].bidx_07;
        data[i][10] = e[i].bidx_08;
        data[i][11] = e[i].bidx_09;
        data[i][12] = e[i].bidx_10;
        data[i][13] = e[i].callrequest;
        data[i][14] = e[i].callcontent;
        data[i][15] = e[i].cancelTime;
        data[i][16] = e[i].dhdate;

        if(e[i].Sex !=null){
        document.getElementById('id-' + i).innerHTML = data[i][0];
        if(data[i][1] == 1 && data[i][2] == 1){
          document.getElementById("img-"+i).src = "stylesheets/images/bedm.png";
          document.getElementById("img-"+i).style.display = "inline";
          }else if(data[i][1] == 1 && data[i][2] == 2){
            document.getElementById("img-"+i).src = "stylesheets/images/bedw.png";
          }else if(data[i][1] != 1 && data[i][2] == 1){
            document.getElementById("img-"+i).src = "stylesheets/images/walkm.png";
          }else if(data[i][1] != 1 && data[i][2] == 2){
            document.getElementById("img-"+i).src = "stylesheets/images/walkw.png";
          }
        if(e[i].iscalling == 1){
          document.getElementById("focus-"+i).style.display = "inline";
          document.getElementById("callInfo-"+i).innerHTML = data[i][14];
          document.getElementById("callInfo-"+i).style.display = "inline";
          } 
        if(e[i].dhdate != null && e[i].dhdate != 0){
          document.getElementById("bedStatus-"+i).style.display = "inline";
          document.getElementById("bedStatus-"+i).innerHTML = "出院";
        
          } 
        }
      }

    })
    var timeoutMB = setTimeout(mapBed, 60000);

    }
    //$("#dnr_btn").click(bottonBtnClick(3)
    //)
    
    function bottonBtnClick(bidxNum){
      console.log("222")
      console.log(clickCount)
      if(clickCount == 1){
        for(var i = 0 ; i<49 ; i++){
          document.getElementById('bedtitle-'+i).style.backgroundColor = "rgb(197,197,197)";
          console.log("變灰過")
          //下面null為測試用
          if(data[i][bidxNum] == 1){
            document.getElementById('bedtitle-'+i).style.backgroundColor = "pink";
            console.log("222223")
          }
        }
      }else{
        for(var i = 0 ; i<49 ; i++){
         //下面null為測試用
          if(data[i][bidxNum] == 1){
            document.getElementById('bedtitle-'+i).style.backgroundColor = "pink";
            console.log("222223")
          }
      }
      clickCount = 1;
      } 
    }

  !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
  function startTime() {
    var today = new Date();
    var hh = today.getHours();
    var mm = today.getMinutes();
    var ss = today.getSeconds();
    var hhI12 = checkHour(hh);
    var ampm = isAfternnoon(hh);
    mm = checkTime(mm);
    ss = checkTime(ss);

    var yyyy = today.getFullYear();
    var month = today.getMonth() + 1;
    var dd = today.getDate();
    var weekday = new Array(7);
    weekday[0] = "星期日";
    weekday[1] = "星期一";
    weekday[2] = "星期二";
    weekday[3] = "星期三";
    weekday[4] = "星期四";
    weekday[5] = "星期五";
    weekday[6] = "星期六";
    var week = weekday[today.getDay()];
    document.getElementById('clock').innerHTML = hhI12 + ":" + mm + ' ' + ampm;
    document.getElementById('date').innerHTML = yyyy + '/' + month + '/' + dd;
    document.getElementById('week').innerHTML = week;
    var timeoutId = setTimeout(startTime, 500);
  };
  function checkHour(i) {
    if (i > 12 && i < 22) {
      var i = '0' + (i - 12);
    }
    else if (i < 10) {
      i = "0" + i;
    } else if (i > 21) {
      var i = i - 12;
    }
    return i;
  }
  function checkTime(i) {
    if (i < 10) {
      i = "0" + i;
    }
    return i;
  }
  function isAfternnoon(hh) {
    var i;
    if (hh >= 12) {
      i = "PM";
    } else {
      i = "AM";
    }
    return i;
  }
  var dViewCk;
  var gridCount = 0;
  function labGrid(eeno, ltype) {
    if (gridCount != 0) {
      $("#lab_grid").data('kendoGrid').destroy();
    }
    gridCount++;
    var params = {
      "nstNo": $("#NSTno").val(),
      "MN": eeno,
      "CKSort": ltype,


    };
    $("#lab_grid").kendoGrid({
      dataSource: {
        transport: {
          read: {
            method: "post",
            url: "/lab",
            dataType: "json",
            data: params
          }
        },
        schema: {
          model: {
            fields: {
          
              BNo: { type: "string" },
              CkCon: { type: "string" },
              ckdate: { type: "string" }
            }
          }
        },
        pageSize: 20,
      },
      height: 820,
      columns: [

        { field: "BNo", title: "床號", width: "20%" },
        { field: "CkCon", title: "檢驗", width: "40%" },
        { field: "ckdate", title: "日期", width: "30%" },
      ],
      sortable: true,
      scrollable: true,
      sortable: true,
      pageable: {
        input: true,
        numeric: false
      },
    });
  }



  $("#duty").click(function () {
    $("#lab_view").hide();
    $("#exit_view").hide();
    $("#duty_view").show();
    $("#edu_view").hide();
    $("#p_list").hide();
    $(".botton_btn").hide();

    console.log(dViewCk + "close");

  })
  $("#lab").click(function () {
    $("#lab_view").show();
    $("#exit_view").hide();
    $("#duty_view").hide();
    $("#edu_view").hide();
    $("#p_list").hide();
    $(".botton_btn").hide();
    var eeNo = $("#selectByEmp").val();
    var lt = $("#selectByLType").val();
    labGrid(eeNo, lt);

  })
  $("#lab_selecter").change(function () {
    console.log("work123123S");
    var eeNo = $("#selectByEmp").val();
    var lt = $("#selectByLType").val();
    labGrid(eeNo, lt);
  });
  $("#selectbyFName").change(function(){
    document.getElementById('edu_viewer').data = "";
    document.getElementById('edu_viewer').data = $("#selectbyFName").val();
    console.log($("#selectbyFName").val());
  })
  $("#edu").click(function () {
    $(".botton_btn").hide();

    $("#lab_view").hide();
    $("#exit_view").hide();
    $("#duty_view").hide();
    $("#edu_view").show();
    $("#p_list").hide();
    $("#edu_grid").kendoGrid({
      dataSource: {
        transport: {
          read: {
            method: "post",
            url: "/edu",
            dataType: "json"
           
          }
        },
        schema: {
          model: {
            fields: {

              FName: { type: "string" }
            }
          }
        },
        pageSize: 20,
      },
      height: 550,
      columns: [

        { field: "FName", title: "文件名稱", width: "40%" }
      ],
      sortable: true,
      scrollable: true,
      sortable: true,
      pageable: {
        input: true,
        numeric: false
      },
    });
    console.log(dViewCk + "close");

  })
  $("#exit").click(function () {

    $(".botton_btn").hide();

    $("#lab_view").hide();
    $("#exit_view").show();
    $("#duty_view").hide();
    $("#edu_view").hide();
    $("#p_list").hide();

    console.log(dViewCk + "close");

  })
  $("#backto_plist").click(function () {


    $("#lab_view").hide();
    $("#exit_view").hide();
    $("#duty_view").hide();
    $("#edu_view").hide();
    $("#p_list").show();
    $(".botton_btn").show();

    console.log(dViewCk + "close");

  })

    
  
</script>

</html>