body{
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
}
#statinfoul {
margin: 0px;
padding: 0px;
display: inline;
}
#NSTno{
  font-size: 48px;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}
.li_horizental {
   display: inline;
   margin: 0px;
   padding: 0px;
   float: left;
 }
 #member {
   margin-top: 14px;
 }
 .memberName {
   font-size: 20px;
   list-style: none;
   margin: 2px;
   color: black;
 }
a {
  color: #00B7FF;
}
#station_info {
  background-color: lightpink;
  float: left;
  
  height: 100%;
}
 #head_bar {
   height: 8%;
   width: 80%;
   background: -webkit-linear-gradient(left,lightpink,white);
   margin-top: 0px;
 }
 #wbid{
   color: white;
 }
 
 #main_container{
   width: 99%;
   height: 85.3%;
   background-color: teal;
  margin: 3px;
 }
 #botton_nav{
   width: 100%;
   height: 6%;
   background-color: rgb(160, 160, 160);
   position: absolute;
   bottom: 0px;
   right: 0px;
 }